body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.placeholder {
	visibility: hidden;
	margin-bottom: 1em;
}

.header a {
	color: black;
	text-decoration: none;
}

.header a.selected,
.header a:hover,
:target a,
.default a {
	color: #008eff;
}
:target ~ .default a {
	color: initial;
}
.header {
	position: absolute;
	top: 1em;
	font-size: 1.5em;
}
.header a {
	position: relative;
	left: -50%;
}

/*
need to do this manually
sizes are: 2.67,5.88,7.58,3.46
with 14px padding
*/
.header.home {
	/*left: 20%;*/
	left: calc(50% - 9.795em + 1.335em - 42px);
}
.header.projects {
	/*left: 40%;*/
	left: calc(50% - 9.795em + 5.61em - 14px);
}
.header.work {
	/*left: 60%;*/
	left: calc(50% - 9.795em + 12.34em + 14px);
}
.header.contact {
	/*left: 80%;*/
	left: calc(50% - 9.795em + 17.86em + 42px);
}

a {
	color: #008eff;
	text-decoration: none;
}

.content{
	display: none;
	width: 60%;
	text-align: center;
}

.default .content,
:target .content {
	display: inline-block;
	animation: fadeIn 0.5s;
}

/* only show default if there is no target */
:target ~ .default .content {
	display: none;
}

.header, .content, .placeholder {
	font-size: 1.5em;
	line-height: 1.5em;
}

.accordion {
	border: 1px solid grey;
	border-radius: 5px;
	max-width: 1000px;
	width: 100%;
	margin: 10px auto;
	text-align: left;
}

.accordion input {
	display: none;
}

.accordion label {
	padding: 10px 5%;
	display: block;
}

.accordion label .title {
	font-weight: bold;
}

.accordion label .date {
	float: right;
	padding-top: 0.2em;
	color: grey;
	font-size: 0.8em;
	font-weight: normal;
}

.accordion .accordion-content {
	margin-top: -1px;
	overflow: hidden;
	height: 0;
	max-height: 0;
	transition: max-height 0.3s ease-in-out;
	padding: 0 5%;
	width: 90%;
}

.accordion input:checked ~ .accordion-content {
	border-top: 1px solid grey;
	height: auto;
	max-height: 1000px;
	transition: max-height 0.3s ease-in-out;
	padding: 5%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.accordion-content img {
	width: 40%;
}

br {
	line-height: 2em;
}