body {
	text-align: center;
}
.header ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

.header li {
	display: inline;
	margin: 10px;
}

.header a {
	color: black;
	text-decoration: none;
}

.header a.selected,
.header a:hover {
	color: #008eff;
}

.content {
	display: none;
	width: 70%;
	text-align: center;
}

.content.default,
.content:target {
	display: inline-block;
	animation: fadeIn 0.5s;
}

/* only show default if there is no target */
.content:target ~ .default {
	display: none;
}

.header, .content {
	font-size: 1.5em;
}

.accordion {
	border: 1px solid black;
	border-radius: 5px;
	max-width: 600px;
	width: 100%;
	margin: 10px auto;
	text-align: left;
}

.accordion input {
	display: none;
}

.accordion label {
	padding: 10px 5%;
	display: block;
}

.accordion label .title {
	text-align: left;
	font-size: bold;
}

.accordion label .date {
	float: right;
	padding-top: 0.2em;
	color: grey;
	font-size: 0.8em;
}

.accordion .accordion-content {
	margin-top: -1px;
	overflow: hidden;
	height: 0;
	max-height: 0;
	transition: max-height 0.3s ease-in-out;
	padding: 0 5%;
	width: 90%;
}

.accordion input:checked ~ .accordion-content {
	border-top: 1px solid black;
	height: auto;
	max-height: 1000px;
	transition: max-height 0.3s ease-in-out;
	padding: 5%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
